.additional
  &__title
    color: $dark
    font-size: 2.5rem
    text-transform: uppercase
    text-align: center
    font-family: 'Stylo'
  
.product__weight--special
  margin: 1rem 0 0 0
.size_kind--special
  text-align: center 
  width: 100% !important
.wrap__product--special
  height: 460px !important