@font-face {
  font-family: 'MyriadPro-Black';
  src:
  url('../fonts/Myriad/MyriadPro-Black.woff') format('woff'),
  url('../fonts/Myriad/MyriadPro-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Stylo';
  src:
  url('../fonts/Stylo/STYLO.woff') format('woff'),
  url('../fonts/Stylo/STYLO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
  