h1
  color: #fff
  text-align: center
  font-size: 72px
  text-transform: uppercase
.pict 
  display: flex
  justify-content: center
  align-items: center
.header
  &__pago
    width: 30%
    padding-top: 6rem
  &__text
    color: $dark
    text-align: center
    margin-left: 20px
    font-size: 2.5rem
    text-transform: uppercase
    font-family: 'Stylo'
  &__logo
    width: 40%
    padding-top: 3rem
    z-index: 99
  &__head
    display: flex
    text-transform: uppercase
    justify-content: space-around
    align-items: center
    padding: 2rem 0 2rem 0
    background-color: $beige 
  &__menu
    background-color: $red
    width: 100%
    padding: 1rem 0
    text-align: center
    text-transform: uppercase
    font-size: 1.5rem
    color: $white
.menu__wrapper
  display: flex
  justify-content: center
    
.info
  margin-top: 0.8rem
  margin-right: -4rem
  background-color: $beige
  &__item
    color: $dark
    font-size: 2.0rem
    margin-right: 3.5rem
    font-weight: 700
    font-family: 'Stylo'
    background-color: $beige
    &:hover
      color: $red
      transition-property: all
      transition-duration: 0.2s
      transition-timing-function: ease
      transition-delay: 0.1s
.fa
  margin-right: 2rem
  color: $dark
  margin-top: -2px
  cursor: pointer
  &:hover
    color: $red
    transition-property: all
    transition-duration: 0.2s
    transition-timing-function: ease
    transition-delay: 0.1s
  &-bars
    margin-top: -6px
    margin-right: 1rem
  
.head
  &__social
    margin-left: -14rem
  
.contacts
  &__phone
    color: $dark
    text-transform: uppercase
    font-size: 2.0rem
    font-weight: 700
    font-family: 'Stylo'
  

.burger
  display: none
  width: 100%
  color: $dark
  font-size: 2.0rem
  font-weight: 700
  font-family: 'Stylo'
  margin: 2rem
  &:hover
    cursor: pointer
    color: $red
    transition-property: all
    transition-duration: 0.2s
    transition-timing-function: ease
    transition-delay: 0.1s
.post
  padding: 0 5rem 
  font-size: 2rem 
  color: $white
a.post 
  &:hover
    color: $yellow    
.fixd
  position: fixed
  top: 0
  z-index: 100
  width: 100%
.basket.fixd__basket
  position: fixed
  top: 99px
  right: 0
  z-index: 1
  
.head
  &__info
    z-index: 10     
    

    

