@media screen and ( max-width: 1260px )
  .social
    display: none
  .header
    &__head
      justify-content: center
  .info
    &__item
      font-size: 1.8rem
      margin-right: 1.5rem

@media screen and ( max-width: 1010px )
  .header
   &__pago
      display: none
@media screen and ( max-width: 865px )
  .header
    &__head
      display: block
      margin-left: 5rem
      padding: 0
      
  h1
    margin: 0    
  .burger
    display: inline-block
    margin: 0
    &__text
      margin: 1.5rem 0 0 0
    
  .info
    width: 200px
    display: none
    position: absolute
    background: $white
    border-radius: 5px
  .info__item
    padding-top: 1.2rem
    display: inline-block
    font-size: 1.5rem
    margin-left: 0.5rem
    
      
  
      
  